body {
	background-color: gray;
}
h1 {
	font-weight: bold;
	font-size: 16px
	width: 600px;
}
.project {
	background-color: gray;
	height: 100px;
	margin-bottom: 30px;
	padding: 20px;
}
.border {
	border: 4px dotted white;
}
.container {
	padding: 40px;
}